* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    scroll-behavior: smooth;
    background-color: #0a0a14;
    color: white;
}

body {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* :root {
   
} */

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
}

.heading {
    font-size: 3.6rem;
    font-weight: 700;
    color: #fff;
    margin-left: 70px;
    position: relative;
}

.heading::before {
    content: "";
    width: 50px;
    height: 1.5px;
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}
